.navbar-container {
  display: flex;
  justify-content: space-around;
  background-color: rgba(63, 36, 9, 0.25);

  padding: 1px;
}
.buttons-navbar {
  border: none;
  background: none;
  color: black;
  font-size: large;
}
.buttons-navbar:hover {
  cursor: pointer;
  color: white;
}
.buttons-navbar:active {
  color: white;
}
